* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

header {
  background: gray;
  color: rgb(137, 167, 18);
  text-align: center;
  padding: 40px;
  border-radius: 10px;
}
.head{
    color: darkcyan;
}
section {
  margin-top: 30px;
}

h2 {
  margin-bottom: 15px;
}

.skills {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.skills span {
  background: #007bff;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
}

.card {
  background: white;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px gray;
}

button {
  padding: 10px 20px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}